/*
 * Footer
 */
.blog-footer {
    padding         : 2.5rem 0;
    color           : #999;
    text-align      : center;
    background-color: #f9f9f9;
    border-top      : .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.link-icon,
.link-icon:hover {
    background-color: #058e05 !important;
    border-color    : #058e05 !important;
}

.edit-icon {
    background-color: orange !important;
    border-color    : orange !important;
}

.back-icon,
.back-icon:hover,
.back-icon:active,
.back-icon:not(:disabled):not(.disabled):active,
.back-icon:focus {
    background-color: gray;
    border-color    : gray;
}

.data-icon {
    background-color: #337ab7;
    border-color    : #2e6da4;
}
